{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{% static 'forms.css' %}">
       
        <link rel="stylesheet" href="{% static 'main.css' %}">
        
        

            
          



       
    </head>
    <body>
  
      <div class ="Fcard">

        <form method="POST" action="">
            {% csrf_token %}
           
            <label>Username </label>
            <input type="text" name="username" placeholder="Username" ></br>
            <label>ID</label>
            <input type="text" name="Id" placeholder="Id" ></br>
            <label>email</label>
            <input type="text" name="email" placeholder="email" ></br>
            <input  type="submit" value="Delete"></br>
        </form>
   
       

    </body>
    
       
   

</html>
